<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        	        <li><a href="/research">Research</a></li>
			        <li><a href="/teaching">Teaching</a></li>
				<li><a href="/blog">Blog</a></li>
			        <li><a href="/cv/Tianyao Qu_CV.pdf" target="_blank">CV</a></li>
	    		</ul>
		</nav>
		<div class="container">
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
	    		<ul>
	        		<li><a href="mailto:tqu@iu.edu">Email</a></li>
			        <li><a href="https://www.linkedin.com/in/tianyao-qu" target="_blank">LinkedIn</a></li>
        		        <li><a href="https://scholar.google.com/citations?user=ksJEbcoAAAAJ&hl=zh-CN" target="_blank">Google Scholar</a></li>
				<li><a href="https://orcid.org/0000-0002-5468-7376" target="_blank">ORCID</a></li>
		        </ul>
		</footer>
	</body>
</html>
